#DATABASE_HOST=localhost
DATABASE_HOST=personal-finance-tracker.mysql
DATABASE_NAME=personal-finance-tracker
DATABASE_USER=personal-finance-tracker
DATABASE_PASSWORD=personal-finance-tracker
DATABASE_PORT=3306

JWT_ACCESS_TOKEN_SECRET=myAccessTokenSecretKeyThatShouldBeAtLeast256BitsLongForHS256Algorithm123456789
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=60
JWT_REFRESH_TOKEN_SECRET=myRefreshTokenSecretKeyThatShouldBeAtLeast256BitsLongForHS256Algorithm123456789
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=30

ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123

REACT_APP_API_BASE_URL=http://localhost:8080/personal-finance-tracker/api/v1